*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}


.wrap{
	width: 800px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
	margin-bottom: 0px;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-align: center;

	display: block;
	padding: 10px 0px;
}

#cableado .active{
	background: #0984CC;
}

#fibra .active{
	background: #e6c50b;
}

#iluminacion .active{
	background: rgb(204, 9, 9);
}

#electrico .active{
	background: rgb(10, 184, 102);
}

#cctv .active{
	background: rgba(88, 85, 85, 0.733);
}


ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 20px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}

#tab1{
	background: rgb(166, 209, 233);
}

#tab2{
	background: rgb(230, 233, 166);
}

#tab3{
	background: rgb(233, 166, 166);
}

#tab4{
	background: rgb(166, 233, 177);
}

#tab5{
	background: rgb(196, 196, 193);
}

#reporte{
	background: #fff;
	
	padding: 15px;
	
	margin-top:20px;
	box-shadow: 0px 0px 3px grey;
	border-radius: 5px;
}

